# Dependencies
node_modules

# Build outputs
dist
apps/*/dist

# Env/config
.env
.env.local
.env.*.local

# OS/editor
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
logs

# Misc
*.patch
patch.txt
